.task {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #1a1a1a;
	padding: 0 30px;
	border-radius: 10px;
}

.task.completed {
	border: 1px solid green;
background: rgb(169, 218, 169);
}

.left {
	display: flex;
	align-items: center;
	gap: 10px;
}
.todo {
	margin-top: 3px;
}

.right {
	display: flex;
	align-items: center;
	gap: 10px;
}

.delete {
	color: red;
	width: 15px;
	cursor: pointer;
	transition: 0.8s;
}

.delete:hover {
	transform: scale(1.5);
}

.check {
	color: green;
	width: 15px;
	cursor: pointer;
	transition: 0.8s;
}

.check:hover {
	transform: scale(1.5);
}
