.btns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-bottom: 20px;
}

.btn {
	background-color: #1a1a1a;
	padding: 15px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.8s;

}
.btn:hover {
	background-color: #161616;

}